<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournaments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container" data-th-each="tournament : ${tournamentMono}">
    <div class="jumbotron text-center">
        <h1 th:text="#{'tournament.'+${tournament.name}+'.'+${tournament.place}+'.'+${tournament.year}+'.name'}"/>
    </div>

    <div class="list-group">
        <div class="list-group-item" data-th-each="group:${tournament.groupSet}">
            <h3 th:text="#{'group.'+${group.name}}"/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="#{label.TEAM}"/>
                    <th th:text="#{label.MP}"/>
                    <th th:text="#{label.W}"/>
                    <th th:text="#{label.D}"/>
                    <th th:text="#{label.L}"/>
                    <th th:text="#{label.G}"/>
                    <th th:text="#{label.GA}"/>
                    <th th:text="#{label.GD}"/>
                    <th th:text="#{label.PTS}"/>
                </tr>
                </thead>
                <tbody>
                <tr class="result" data-th-each="team : ${group.teamSet}">
                    <td th:text="#{'team.'+${team.name}}"/>
                    <td th:text="${team.playedMatches}"/>
                    <td th:text="${team.wonMatches}"/>
                    <td th:text="${team.drawMatches}"/>
                    <td th:text="${team.defeatedMatches}"/>
                    <td th:text="${team.goalsFor}"/>
                    <td th:text="${team.goalsAgainst}"/>
                    <td th:text="${team.goalDifference}"/>
                    <td th:text="${team.points}"/>
                </tr>
                </tbody>
            </table>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" th:href="'#collapse'+${group.name}" th:text="#{label.matches}"/>
                    </h4>
                </div>
                <div th:id="'collapse'+${group.name}" class="panel-collapse collapse">
                    <div class="list-group">
                        <div class="list-group-item" data-th-each="match:${group.matchSet}">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <p th:text="${match.stadium}"/>
                                        <p th:text="${#temporals.format(match.schedule, 'yyyy-MM-dd HH:mm:ss')}"/>
                                    </div>
                                    <div class="col-3">
                                        <h1>
                                            <p th:text="${match.localTeam}"/>
                                        </h1>
                                    </div>
                                    <div class="col-3">
                                        <h1>
                                            <p th:text="${match.localGoals}+' - '+${match.visitorGoals}"/>
                                        </h1>
                                    </div>
                                    <div class="col-3">
                                        <h1>
                                            <p th:text="${match.visitorTeam}"/>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>