<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournaments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">

    <div class="row">
        <table id="allTournaments" class="table table-striped">
            <tr class="result" data-th-each="tournament : ${tournamentFlux}">
                <td th:text="#{'tournament.'+${tournament.name}+'.'+${tournament.place}+'.'+${tournament.year}+'.name'}"/>
                <td>
                    <a class="btn btn-primary" data-th-href="@{|/tournaments/${tournament.id}|}"
                       th:text="#{see.tournament}">See Tournament</a>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>